*{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Josefin, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    overflow: hidden;
}

.Title{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    position:absolute; 
    left: 150px;
    top: 70px;
    animation: fadein 1.1s, go-back 1.1s;
    background-color: transparent;
}

.Title h3{
    background-color: transparent;
}

.Title__line{
    border: 2px solid;
    width: 350px;   
    border-radius: 30px;    
    position: relative;
    left: 70px;
    top: 5px;
    opacity: 0.5;
    background-color: transparent;
}

.Sub{
    font-size: 20px;
    color: #fff;
    position: absolute;
    left: 233px;
    top: 160px;
    background-color: transparent;
    animation: fadein 1.1s, go-up 1.1s;
    max-width: 350px;
}

.Sub a{
    font-weight: bold;
    background-color: transparent;
}

.Image{
    background-color: transparent;
    position: relative;
    top: 270px;
    left: 150px;
    animation: fadein 1.1s, go-up 1.1s;
}

.Image img{
    height: 300px;
    width: 500px;
    border-radius: 20px;
}

.Form{
    background-color: transparent;
    color: #fff;
}

.Form__title{
    color: #fff;
    background-color: transparent;
    position: absolute;
    left: 915px;
    top: 90px;
    font-size: 24px;
    font-weight:600;
    animation: fadein 2s, go-up 1.1s;
}

.Form__line{
    border: 1px solid;
    width: 80px;   
    position:absolute;
    left: 1010px;
    top: 122px;
    opacity: 0.5;
    color: #fff;
    background-color: transparent;
    animation: fadein 2s, go-up 1.1s;
}

.Form__sub{
    color: #fff;
    background-color: transparent;
    position: absolute;
    font-weight: 600;
    max-width: 350px;
    left: 890px;
    top: 130px;
    animation: fadein 2s, go-up 1.1s;
}

.Form__sub a{
    background-color: transparent;
    margin-left: 120px;
}

.Form__content{
    background-color: transparent;
    color: #fff;
    position: absolute;
    left: 890px;
    top: 180px;
    animation: fadein 2s, go-back 1.1s;
}

.Form__content label{
    margin-left: 5px;
    background-color: transparent;
    font-weight: 600;
}

.Form__content input{
    background-color: #fff;
    height: 27px;
    border: none;
    border-radius: 5px;
    width: 330px;
}

.Form__nome{
    background-color: transparent;
} 
.Form__email{
    background-color: transparent;
} 
.Form__numero {
    background-color: transparent;
}
.Form__conf{
    background-color: transparent;
}

.btn__submit{
    color: white;
    font-size: medium;
    background-color:transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    position: absolute;
    height: 35px;
    width: 320px;
    top: 440px;
    left: 895px;
    animation: fadein 4s, flicker 2s ease infinite;
}

.Container{
    height: 500px;
    width: 400px;
    background-color: #fff;
    position: absolute;
    left: 850px;
    bottom: 80px;
    opacity: 0.3;
    border-radius: 20px;
    animation: go-up 1.1s;
    box-shadow: 8px 5px 5px purple;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes go-back {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes go-up {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #fff,
        0 0 80px #fff,
        0 0 90px #fff,
        0 0 100px #fff,
        0 0 150px #fff;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }

.btn__submit:hover {
    transform: scale(1.1);
    transition: all 0.5s;
} 